* {
    box-sizing: border-box;
    min-width: 0;
}

html, body, #root{
    width: 100%;
}

:root {
    --theme-color: #ff4d4f;
    --theme-secondary-color: rgb(0, 146, 255);
    --theme-font-color: #444;
    --theme-secondary-font-color: #666;
    --theme-warn: #faad14ef;
    --theme-error: #ff4d4f;
    --theme-success: #52c41a;
    --col-1: 4.16666666666667%;
    --col-2: 8.33333333333333%;
    --col-3: 12.5%;
    --col-4: 16.6666666666667%;
    --col-5: 20.8333333333333%;
    --col-6: 25%;
    --col-7: 29.1666666666667%;
    --col-8: 33.3333333333333%;
    --col-9: 37.5%;
    --col-10: 41.6666666666667%;
    --col-11: 45.8333333333333%;
    --col-12: 50%;
    --col-13: 54.1666666666667%;
    --col-14: 58.3333333333333%;
    --col-15: 62.5%;
    --col-16: 66.6666666666667%;
    --col-17: 70.8333333333333%;
    --col-18: 75%;
    --col-19: 79.1666666666667%;
    --col-20: 83.3333333333333%;
    --col-21: 87.5%;
    --col-22: 91.6666666666667%;
    --col-23: 95.8333333333333%;
    --col-24: 100%;
    --normal-font-size: 16px;
    --extra-small-font-size: 12px;
    --small-font-size: 14px;
    --big-font-size: 18px;
    --subheading-font-size: 24px;
    --normal-heading-font-size: 20px;
    --heading-font-size: 48px;
}
